body, html {
    background: #000306;
    color: #f3f6f9;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
}

a {
    color: #06c;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #09f;
    text-decoration: underline;
}
.drawBtn {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.fullscreen-map {
    height: 100%;
    width: 100%;
    text-align: center;
}

.county {
    fill: none;
}

.state {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}
