body, html {
    /*background: #101316;*/
    background: #000306;
    color: #f3f6f9;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
}

.fullscreen-map {
    height: 90%;
    width: 90%;
    margin: auto;
}

.state {
    fill: #333639;
    stroke: #999;
    stroke-width: 2px;
}

.label {
    fill: #999;
    font-weight: bold;
}
